@page "/companyadd"

<h3>Add New Company</h3>


@if (!IsSaved)
{
    <EditForm Model="Company" OnSubmit="OnSubmit" Enhance FormName="AddCompanyForm">


        <div class="row mb-3">
            <label for="name" class="col-form-label col-md-3">Name: </label>
            <div class="col-md-8">
                <InputText id="name" class="form-control col-md-8" @bind-Value="@Company.Name" placeholder="Enter company name"></InputText>
            </div>
        </div>

        <div class="row mb-3">
            <label for="code" class="col-form-label col-md-3">Code: </label>
            <div class="col-md-8">
                <InputText id="code" class="form-control col-md-8" @bind-Value="@Company.Code" placeholder="Enter company code"></InputText>
            </div>

        </div>

        <div class="row mb-3">
            <label for="logoUrl" class="col-form-label col-md-3">LogoUrl: </label>
            <div class="col-md-8">
                <InputText id="logoUrl" class="form-control col-md-8" @bind-Value="@Company.LogoUrl" placeholder="Enter company logoUrl"></InputText>
            </div>

        </div>

        <div>
            <button type="submit" class="btn btn-outline-primary ms-1">Submit</button>
        </div>

    </EditForm>
}
else
{
    <h4 class="text-success">@Message</h4>
}
